# IDEA FILES
*.iml
*.idea

# ECLIPSE FILES
*.project
*.prefs
*.classpath

# GRADLE FILES
.gradle

# BUILD FILES
out/
target/
build/
/.project
/.classpath
bin/

*/.settings/
*.info
.DS_Store

**/temp/

# ignore all log files
**/*.log
**/*.log?