# ignore all target folders
**/target/
**/temp/

# ignore all log files
**/*.log
**/*.log?

# ignore all eclipse config files
**/.settings/
**/.classpath
**/.project
**/*.class
/axel-commons.log.1
/axel-commons.log.2
/axel-commons.log.3
