<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:util="http://www.springframework.org/schema/util"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:jee="http://www.springframework.org/schema/jee"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.0.xsd
        "
>

   <!-- This is a test spring configuration and is only used when running the unit tests. -->
   <description>
      This is a test config that gets loaded with the
      src/main/resource/config/spring/pager-startup.xml
    </description>

   <bean id="pager.execContext" class="org.xmlactions.action.config.NoPersistenceExecContext" scope="prototype">
      <constructor-arg index="0" type="java.util.List">
         <!-- "actionMaps" -->
         <list>
            <ref bean="actions" />
            <ref bean="actionsx" />
            <ref bean="db_actions" />
            <ref bean="props5" />
         </list>
      </constructor-arg>
      <constructor-arg index="1" type="java.util.List">
         <!-- "localMaps" -->
         <list>
            <ref bean="localMap1" />
            <ref bean="localMap2" />
            <ref bean="application.xml" />
         </list>
      </constructor-arg>
      <constructor-arg index="2"  type="java.util.List">
         <!-- "themes" -->
         <list>
            <ref bean="gray_theme" />
            <ref bean="blue_theme" />
         </list>
      </constructor-arg>
   </bean>


   <bean id="application.xml" class="org.apache.commons.configuration.XMLConfiguration">
      <constructor-arg type="java.net.URL" value="classpath:/config/pager/application.xml" />
   </bean>

   <util:properties id="actions" location="classpath:config/pager/actions.properties" />

   <util:properties id="props5">
      <prop key="k5">value of k5</prop>
      <prop key="k6">value of k6</prop>
   </util:properties>

   <util:map id="actionsx" map-class="java.util.HashMap">
      <entry key="echo" value="org.xmlactions.action.actions.Echo" />
      <entry key="k1" value="the value of k1" />
      <entry key="k2" value="the value of k2" />
   </util:map>

   <util:map id="db_actions" map-class="java.util.HashMap">
      <entry key="k3" value="the value of k3" />
      <entry key="k4" value="the value of k4" />
   </util:map>

   <util:map id="localMap1" map-class="java.util.HashMap">
      <entry key="k1" value="the value of k1" />
   </util:map>
   <util:properties id="localMap2" location="classpath:config/pager/actions.properties" />

   <bean id="gray_theme" class="org.xmlactions.common.theme.Theme">
      <constructor-arg>
         <util:properties location="classpath:config/project/gray.properties" />
      </constructor-arg>
   </bean>

   <bean id="blue_theme" class="org.xmlactions.common.theme.Theme">
      <constructor-arg>
         <util:properties location="classpath:config/project/blue.properties" />
      </constructor-arg>
   </bean>

</beans>